<template>
    <div>
        <v-dialog v-model="karekodDialog" max-width="500px">
            <v-card style="    padding: 20px;">
                <v-textarea
                        outline
                        label="Karekod Bilgileri"
                        v-model="girilenKarekodlar"
                        color="blue"
                ></v-textarea>
                <v-btn @click="copyToClipboard()" outline color="blue">HEPSİNİ KOPYALA</v-btn>
            </v-card>
        </v-dialog>
        <v-dialog v-model="teslimAlDialog" max-width="500px">
            <v-card>
                <v-card-title>
                    <span class="headline">Emin misiniz ?</span>
                </v-card-title>

                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="blue darken-1" flat @click.native="teslimAl()">TESLİM AL</v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
        <div class="gonderilecekler">
            <div class="alan-eczaneler-header">
                <div>
                    İLAÇ ADI
                </div>
                <div>
                    ALIM MİKTARI
                </div>
                <div>
                    ALAN ECZANE
                </div>
                <div>
                    NET FİYAT ₺
                </div>
                <div>
                    GÖNDERİLME DURUMU
                </div>
                <div>
                    İŞLEMLER
                </div>
            </div>
            <template v-for="gonderilecek in aldiklarim.alinanTeklifler">
                <div class="alan-eczaneler-content backgroundRed" :class="{ backgroundYellow: gonderilecek.alimVeGonderimBilgisi.gonderildi, backgroundGreen: gonderilecek.alimVeGonderimBilgisi.teslimAlindi }">
                    <div>
                        {{gonderilecek.teklifBilgisi.barcodeNo.slice(0,40)}}
                    </div>
                    <div>
                        {{gonderilecek.alimVeGonderimBilgisi.miktar}}
                    </div>
                    <div>
                        {{gonderilecek.teklifBilgisi.createdBy }}
                    </div>
                    <div>
                        {{gonderilecek.teklifBilgisi.netFiyat}}
                    </div>
                    <div>
                        {{getGondermeDurumu(gonderilecek.alimVeGonderimBilgisi)}}
                    </div>
                    <div>
                        <v-icon
                                v-if="gonderilecek.alimVeGonderimBilgisi.gonderildi && !gonderilecek.alimVeGonderimBilgisi.teslimAlindi"
                                small
                                class="mr-2"
                                @click="teslimAlPopup(gonderilecek)"
                        >done
                        </v-icon>
                        <v-icon
                                v-if="gonderilecek.alimVeGonderimBilgisi.gonderildi"
                                small
                                class="mr-2"
                                @click="karekodPopupAc(gonderilecek)"
                        >border_clear
                        </v-icon>
                    </div>
                </div>
            </template>
        </div>
        <v-snackbar
                v-model="snackbarBasariylaTeslimAlindi"
                :timeout=3000
        >
            TESLİM ALINDI

        </v-snackbar>
        <v-snackbar
                v-model="snackbarBasarisiz"
                :timeout=3000
        >
            İŞLEM BAŞARISIZ :(

        </v-snackbar>
        <v-snackbar
                v-model="snackbarKopyalandi"
                :timeout=3000
        >
            KOPYALANDI.

        </v-snackbar>
    </div>
</template>
<script>
    import { mapActions, mapState } from 'vuex'
    export default {
        data: () => ({
            teslimAlDialog: false,
            snackbarBasarisiz: false,
            selectedAlimDetails:{
                alimVeGonderimBilgisi: {}
            },
            snackbarBasariylaTeslimAlindi: false,
            snackbarKopyalandi: false,
            karekodDialog : false,
            girilenKarekodlar: ''
        }),
        methods: {
            ...mapActions([
                'getAldiklarim'
            ]),
            copyToClipboard(){
                const el = document.createElement('textarea');
                el.value = this.girilenKarekodlar;
                document.body.appendChild(el);
                el.select();
                document.execCommand('copy');
                document.body.removeChild(el);
                this.karekodDialog = false;
                this.snackbarKopyalandi = true;

            },
            teslimAlPopup(alinan){
                this.selectedAlimDetails = alinan
                this.teslimAlDialog = true
            },
            teslimAl() {

                let sendData = {
                    gonderenId: this.selectedAlimDetails.alimVeGonderimBilgisi.gonderenId,
                    id: this.selectedAlimDetails.alimVeGonderimBilgisi.id
                }
                this.$store.dispatch('teslimAl', sendData)
                    .then( response => {
                        this.teslimAlDialog = false
                        this.snackbarBasariylaTeslimAlindi = true
                        let data = {
                            id: this.user._id
                        }
                        this.getAldiklarim(data)
                    })
                    .catch( err => {
                        this.snackbarBasarisiz = true
                    })
            },
            getGondermeDurumu(alimVeGonderimBilgisi){
                if(alimVeGonderimBilgisi.teslimAlindi)
                    return 'Teslim Alindi'
                else if(alimVeGonderimBilgisi.gonderildi)
                    return 'Gönderildi'
                else{
                    return 'Bekliyor'
                }
            },
            karekodPopupAc(secilenGonderim) {
                this.selectedAlimDetails = secilenGonderim
                if (this.selectedAlimDetails.alimVeGonderimBilgisi.karekodBilgileri.length > 0) {
                    this.girilenKarekodlar = this.selectedAlimDetails.alimVeGonderimBilgisi.karekodBilgileri.reduce((acculumator, currentValue) => {
                        acculumator += currentValue + '\n'
                        return acculumator
                    }, '')
                    this.girilenKarekodlar = this.girilenKarekodlar.slice(0, this.girilenKarekodlar.length - 1)
                }
                this.karekodDialog = true;
            },
        },
        created(){
            let data = {
                id: this.user._id
            }
            this.getAldiklarim(data)
        },
        computed: {
            ...mapState({
                user: state => state.user,
                aldiklarim: state => state.aldiklarim
            })
        }

    }
</script>
<style lang="scss" scoped>
    .alan-eczaneler-header{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        border-bottom: 1px solid #0006;
        padding-top: 20px;
    }

    .alan-eczaneler-content{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        border-bottom: 1px solid #0006;
        padding: 5px 0 5px 0;
        font-size: 13px;
        align-items: center;

    }

</style>