<template>
    <div style="padding-top: 20px">
        <v-data-table
                :headers="headers"
                :items="getSortedBakiyeler"
                class="elevation-1"
                hide-actions
        >
            <template slot="items" slot-scope="props">
                <td class="text-md-left fontStyle">{{ props.item.name }}</td>
                <td class="text-md-right fontStyle" v-if="props.item.bakiye >= 0" style="color: green">{{ props.item.bakiye}} ₺</td>
                <td class="text-md-right fontStyle" v-else style="color:red">{{ props.item.bakiye}} ₺</td>
                <!--<td class="text-md-right fontStyle">{{ props.item.actigiTeklifSayisi }}</td>-->
            </template>
        </v-data-table>
    </div>
</template>
<script>
    import { mapActions, mapGetters } from 'vuex'
    export default {
        data() {
            return {
                headers: [
                    {text: 'ECZANE ADI'},
                    {text: 'BAKİYE', value: 'fat', align: 'right'},
                    /*{text: 'AÇTIĞI TEKLİF SAYISI', align: 'right'},*/
                ]
            }
        },
        computed: {
            ...mapGetters([
                'getSortedBakiyeler'
            ])
        },
        created(){
            this.getBakiyeler()
        },
        methods: {
            ...mapActions([
                'getBakiyeler'
            ])
        }
    }
</script>
<style scoped lang="scss">
    .fontStyle {
        font-size: 15px !important;
        font-weight: bolder !important;
    }
</style>