<template>
    <div class="grid">
        <div v-for="bid in bids" class="bid-container">
            <!--<img class="ilac-image" src="../assets/logo.png" style="width: 100%">-->
            <div class="ilac">
                <span><v-icon  style="margin-right: 10px">fas fa-tablets</v-icon>{{bid.barcodeNo}}</span>
            </div>
            <div class="eczane">
                <img style="margin-right: 10px;width: 30px" src="../assets/eczaneIcon.svg">
                <span style="color: orangered">{{ bid.createdBy }} Eczanesi</span>
            </div>
            <div  class="netFiyat">
                <v-icon style="margin-right: 10px">fas fa-tag</v-icon>
                <span>Net Fiyatı: <span class="bold"> {{ bid.netFiyat }}₺</span></span>
            </div>
            <div  class="depoFiyat">
                <v-icon style="margin-right: 10px">fas fa-tag</v-icon>
                <span>Depo/Etiket Fiyatı: <span class="bold">{{ bid.depoFiy }}/{{bid.etiketFiy}}₺</span></span>
            </div>
            <div class="alim-mf">
                <v-icon style="margin-right: 10px">fas fa-handshake</v-icon>
                <span class="alim-mf">Alım/MF : <span class="bold">{{ bid.alimMiktari }}/{{bid.malFazlasi}}</span></span>
            </div>
            <div class="hedefKalan">
                <v-icon style="margin-right: 10px">fas fa-bullseye</v-icon>
                <span class="alim-mf">Hedeflenen/Kalan: <span class="bold">{{ bid.hedeflenenAlim }}/{{bid.alimMiktari-bid.alinan}}</span></span>
            </div>
            <div class="basTar">
                <v-icon style="margin-right: 10px">fas fa-calendar-alt</v-icon>
                <span class="alim-mf">Baslangic Tar: <span style="font-weight: 900">{{ bid.talepBasTar }}</span></span>
            </div>
            <div class="bitTar">
                <v-icon style="margin-right: 10px">fas fa-calendar-alt</v-icon>
                <span class="alim-mf">Bitiş Tar: <span style="font-weight: 900">{{ bid.talepBitTar }}</span></span>
            </div>
            <div class="sonKulTar">
                <v-icon style="margin-right: 10px">fas fa-calendar-alt</v-icon>
                <span class="alim-mf">Son Kul Tar: <span style="font-weight: 900">{{ bid.sonKulTar }}</span></span>
            </div>
            <div v-if="bid.eczaneyeOzel"  class="eczaneTo">
                <v-icon style="margin-right: 10px">fas fa-info-circle</v-icon>
                <span>{{ bid.eczane }} Eczanesi'ne özel </span>
            </div>
            <div  class="kar">
                <span>Kâr: <span class="bold"><span class="bold" style="color: green;font-size: 30px"> %{{ (bid.netFiyat / bid.depoFiy * 100).toFixed() }}</span></span></span>
            </div>
            <v-progress-circular
                    :rotate="360"
                    :size="100"
                    :width="10"
                    :value="bid.alinan * bid.hedeflenenAlim / 100"
                    class="circular"
                    color="green darken-5"
            >
                {{ bid.alinan * bid.hedeflenenAlim / 100 }}
            </v-progress-circular>
            <v-layout row justify-center>
                <v-btn @click="onDialogOpen(bid)" class="buttonAdd" small outline color="green darken-5">Alım Yap</v-btn>

                <v-dialog v-model="dialog" persistent max-width="290">
                    <v-card>
                        <v-card-title class="headline">NE KADAR ALIM YAPMAK İSTİYORSUNUZ ?</v-card-title>

                        <v-card-text>
                            TEK SEFERDE EN FAZLA {{ selectedBid.maxAlim }} ADET, EN AZ {{ selectedBid.minAlim }} ADET KADAR ALIM YAPABİLİRSİNİZ.<br>STOKTA {{ (selectedBid.alimMiktari + selectedBid.malFazlasi) - selectedBid.alinan }}
                            KADAR ÜRÜN KALDI.
                        </v-card-text>
                        <v-flex xs6 sm8 mx-auto>
                            <v-text-field
                                    label="Miktar"
                                    single-line
                                    type="number"
                                    color="blue"
                                    v-model="yapilacakAlim"
                            ></v-text-field>
                        </v-flex>
                        <v-card-actions>
                            <v-spacer></v-spacer>
                            <v-btn color="green darken-1" flat  @click.native="dialog3 = true ; dialog = false">DEVAM</v-btn>
                            <v-btn color="green darken-1" flat @click.native="dialog = false">VAZGEÇ</v-btn>
                        </v-card-actions>
                    </v-card>
                </v-dialog>
                <v-dialog v-model="dialog3" max-width="500px">
                    <v-card>
                        <v-card-title>
                            <v-flex xs6 sm8 mx-auto>
                                <span class="mx-auto" style="font-size: 20px">TEBRİKLER!</span>
                                <v-card-text>
                                    İLAÇ TAKAS SİSTEMİNİ KULLANARAK, {{ yapilacakAlim }} ÜRÜNDE TOPLAM {{ (selectedBid.etiketFiy * yapilacakAlim) - (selectedBid.depoFiy * yapilacakAlim)}} ₺ KÂR ELDE EDECEKSİNİZ.
                                </v-card-text>
                            </v-flex>
                        </v-card-title>
                        <v-card-actions>
                            <v-btn block large color="blue" outline @click="alimYap()">ALIM YAP!</v-btn>
                        </v-card-actions>
                    </v-card>
                </v-dialog>
            </v-layout>
        </div>
        <v-snackbar
                v-model="snackbarKotaDolmus"
                :timeout=3000
        >
            BAŞARISIZ, TALEP İÇİN HEDEFLENEN ALIM GEÇİLDİ.

        </v-snackbar>
    </div>
</template>
<script>
    import { mapState, mapActions, mapGetters } from 'vuex'

    export default {
        data() {
            return {
                dialog: false,
                yapilacakAlim: null,
                dialog3: false,
                selectedBid: "",
                snackbarKotaDolmus: false
            }
        },
        computed: {
            ...mapState({
                bids: state => state.bids
            }),
            ...mapGetters([
                'getUser'
            ])
        },
        methods: {
            ...mapActions([
                'getBids',
                'invokeAlert',
                'doAlim'
            ]),
            alimYap(){

                if(this.selectedBid.hedefAlimGecilsin){
                    if(this.selectedBid.createdBy === this.getUser.name){
                        let alertConfig = {
                            state: true,
                            text: 'KENDİ TALEBİNİZE ALIM YAPAMAZSINIZ!',
                            type: 'error'
                        }
                        this.invokeAlert(alertConfig)
                        this.dialog3 = false

                    }else{
                        let date = new Date().toJSON().slice(0,10).replace(/-/g,'/')
                        let date2 = new Date()
                        let alimVeGonderimBilgileri = {
                            bidId: this.selectedBid._id,
                            gonderenId: this.selectedBid.createdById,
                            alanId: this.getUser._id,
                            gonderildi: false,
                            alindi: false,
                            tarih: date,
                            date: date2,
                            alanAdi:this.getUser.name,
                            yapilanAlim: this.yapilacakAlim
                        }
                        this.doAlim(alimVeGonderimBilgileri)

                        this.dialog3 = false

                    }
                }else{
                    if((parseInt(this.selectedBid.alinan) + parseInt(this.yapilacakAlim)) > this.selectedBid.hedeflenenAlim ){
                        this.snackbarKotaDolmus = true
                    }else{
                        if(this.selectedBid.createdBy === this.getUser.name){
                            let alertConfig = {
                                state: true,
                                text: 'KENDİ TALEBİNİZE ALIM YAPAMAZSINIZ!',
                                type: 'error'
                            }
                            this.invokeAlert(alertConfig)
                            this.dialog3 = false

                        }else{
                            let date = new Date().toJSON().slice(0,10).replace(/-/g,'/')
                            let date2 = new Date()
                            let alimVeGonderimBilgileri = {
                                bidId: this.selectedBid._id,
                                gonderenId: this.selectedBid.createdById,
                                alanId: this.getUser._id,
                                gonderildi: false,
                                alindi: false,
                                tarih: date,
                                date: date2,
                                alanAdi:this.getUser.name,
                                yapilanAlim: this.yapilacakAlim
                            }
                            this.doAlim(alimVeGonderimBilgileri)

                            this.dialog3 = false
                        }
                    }
                }
            },
            onDialogOpen(bid){
                this.dialog = true
                this.selectedBid = bid
            }
        },
        created(){
            this.getBids()
        }
    }
</script>
<style lang="scss" scoped>
    @media (min-width: 700px){
    .grid{
        grid-template-columns: 1fr;
        overflow: scroll;
    }
    .ilac{
        grid-column: 1/5;
        justify-self: start;
        font-weight: 900;
        font-size: 15px;
    }
    .alim-mf{
        grid-column: 1/2;

        justify-self: start;

    }
    .hedefKalan{
        grid-column: 2/3;

        justify-self: start;

    }
    .sonKulTar{
        grid-column: 3/4;
        justify-self: start;

    }
    .basTar{
        grid-column: 3/4;
        grid-row: 2/2;
        justify-self: start;

    }
    .bitTar{
        grid-column: 3/4;
        grid-row: 3;
        justify-self: start;

    }
    .netFiyat{
        grid-column: 1/2;
        justify-self: start;

    }
    .depoFiyat{
        grid-column: 2/3;
        justify-self: start;

    }
    .kar{
        grid-column: 4/5;
        grid-row: 2/5;
        justify-self: start;
        font-size: 25px;

    }
    .ilac-image{
        grid-column: 1/2;
        grid-row: 1/6;
        justify-self: start;
    }
    .eczane{
        grid-column: 1/3;
        justify-self: start;
        align-items: center;
        grid-row: 2/3;
        display: flex;
        font-weight: 700;
        font-size: 14px;
    }
    .eczaneTo{
        grid-column: 2/4;
        font-size: 14px;

        justify-self: start;
        color: #d40000;
        font-weight: 700;
        grid-row: 2/3;

    }
    .bold{
        font-size: 20px;
        font-weight: 700;
        white-space: nowrap;

    }
    .circular{
        grid-column: 5/6;
        grid-row: 2/4;
        justify-self: center;
    }
    .buttonAdd{
        grid-column: 5/6;
        justify-self: center;
        grid-row: 4/6;
    }

    .bid-container{
        border-bottom: 1px solid #9d9d9d;
        align-items: center;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        span{
            word-wrap: break-word;
            font-weight: 700;
            white-space: nowrap;
            font-variant-caps: small-caps;
        }
        padding: 10px 0 10px 0;

    }
    }
    @media (max-width: 700px) {
        .bid-container{
            border-bottom: 1px solid #9d9d9d;
            align-items: center;
            display: grid;
            grid-row-gap: 20px;
            grid-template-columns: 1fr;
            span{
                word-wrap: break-word;
                font-weight: 700;
                white-space: nowrap;
                font-variant-caps: small-caps;
            }
            padding: 10px 0 10px 0;
        }
        .ilac{
            justify-self: start;
            font-weight: 900;
            font-size: 15px;
        }
        .alim-mf{

            justify-self: start;

        }
        .hedefKalan{

            justify-self: start;

        }
        .sonKulTar{
            justify-self: start;

        }
        .basTar{
            justify-self: start;

        }
        .bitTar{
            justify-self: start;

        }
        .netFiyat{
            justify-self: start;

        }
        .depoFiyat{
            justify-self: start;

        }
        .kar{
            justify-self: start;
            font-size: 25px;

        }
        .ilac-image{
            justify-self: start;
        }
        .eczane{
            justify-self: start;
            align-items: center;
            display: flex;
            font-weight: 700;
            font-size: 14px;
        }
        .eczaneTo{
            font-size: 14px;

            justify-self: start;
            color: #d40000;
            font-weight: 700;

        }
        .bold{
            font-size: 20px;
            font-weight: 700;
            white-space: nowrap;

        }
        .circular{
            justify-self: center;
        }
        .buttonAdd{
            justify-self: center;
        }
    }
</style>