<template>
    <div class="grid">
        <v-form ref="form" v-model="valid" lazy-validation style="display: contents">
            <v-autocomplete
                    class="autocomplete"
                    v-model="ilacBarcodu"
                    :items="ilaclar"
                    :loading="isLoading"
                    :search-input.sync="search"
                    color="blue darken-5"
                    hide-no-data
                    hide-selected
                    item-text="barcodeNo"
                    item-value="API"
                    :rules="barcodeRules"
                    label="İlaç Adı/Barkod"
                    return-object
                    required
            ></v-autocomplete>
            <v-text-field
                    class="baslangic"
                    label="Alım Miktarı"
                    type="number"
                    :rules="alimMikratiRules"
                    v-model="alimMiktari"
                    required
                    color="blue darken-5"
            ></v-text-field>
            <v-text-field
                    class="bitis"
                    label="Mal Fazlası"
                    type="number"
                    :rules="malFazlasiRules"
                    v-model="malFazlasi"
                    required
                    color="blue darken-5"
            ></v-text-field>
            <v-text-field
                    class="baslangic"
                    label="Minimum Yapılabilecek Alım"
                    :rules="minimumRules"
                    v-model="minimumAlim"
                    type="number"
                    required
                    color="blue darken-5"
            ></v-text-field>
            <v-text-field
                    type="number"
                    class="bitis"
                    v-model="maxAlim"
                    :rules="maksimumRules"
                    required
                    label="Maksimum Yapılabilecek Alım"
                    color="blue darken-5"
            ></v-text-field>
            <v-menu
                    class="baslangic"
                    ref="baslangicMenu"
                    :close-on-content-click="false"
                    v-model="baslangicMenu"
                    :nudge-right="40"
                    :return-value.sync="baslangic"
                    min-width="unset"
                    lazy
                    transition="scale-transition"
            >
                <v-text-field
                        slot="activator"
                        v-model="baslangic"
                        label="Talep Başlangıç Tarihi"
                        color="blue darken-5"
                        readonly
                        :rules="baslangicRules"
                        required
                ></v-text-field>
                <v-date-picker color="blue darken-5" v-model="baslangic" @input="$refs.baslangicMenu.save(baslangic)"></v-date-picker>

            </v-menu>
            <v-menu
                    class="bitis"
                    ref="bitisMenu"
                    :close-on-content-click="false"
                    v-model="bitisMenu"
                    :nudge-right="40"
                    :return-value.sync="bitis"
                    lazy
                    min-width="unset"
                    transition="scale-transition"
            >
                <v-text-field
                        slot="activator"
                        v-model="bitis"
                        color="blue darken-5"
                        label="Talep Bitiş Tarihi"
                        :rules="bitisRules"
                        readonly
                        required
                ></v-text-field>
                <v-date-picker color="blue darken-5" v-model="bitis" @input="$refs.bitisMenu.save(bitis)"></v-date-picker>

            </v-menu>
            <v-text-field
                    type="number"
                    class="baslangic"
                    label="Hedeflenen Alım"
                    required
                    v-model="hedeflenenAlim"
                    :rules="hedeflenenAlimRules"
                    color="blue darken-5"
            ></v-text-field>
            <v-menu
                    class="bitis"
                    ref="sonkullanmaTarihiMenu"
                    :close-on-content-click="false"
                    v-model="sonkullanmaTarihiMenu"
                    :nudge-right="40"
                    :return-value.sync="sonkullanmaTarihi"
                    lazy
                    min-width="unset"
                    transition="scale-transition"
            >
                <v-text-field
                        slot="activator"
                        v-model="sonkullanmaTarihi"
                        color="blue darken-5"
                        required
                        :rules="sonKullanmaRules"
                        label="Son Kullanma Tarihi"
                        readonly
                ></v-text-field>
                <v-date-picker color="blue darken-5" v-model="sonkullanmaTarihi" @input="$refs.sonkullanmaTarihiMenu.save(sonkullanmaTarihi)"></v-date-picker>
            </v-menu>
            <v-text-field
                    class="baslangic"
                    label="Etiket Fiyatı"
                    color="blue darken-5"
                    v-model="etiketFiyati"
                    :rules="etiketFiyatiRules"
                    required
                    prefix="₺"
            ></v-text-field>
            <v-text-field
                    class="bitis"
                    label="Depo Fiyatı"
                    v-model="depoFiyati"
                    :rules="depoFiyatiRules"
                    color="blue darken-5"
                    value="10.00"
                    prefix="₺"
                    required
            ></v-text-field>
            <v-text-field
                    class="baslangic"
                    label="Yemek Çeki/Elden Nakit"
                    v-model="yemekCekiEldenNakit"
                    color="blue darken-5"
                    value="10.00"
                    prefix="₺"
            ></v-text-field>
            <v-text-field
                    class="bitis"
                    label="Ekstra Hediye Ürün"
                    v-model="ekstraUrun"
                    color="blue darken-5"
                    type="number"
            ></v-text-field>
            <v-switch
                    class="baslangic"
                    :label="'Hedeflenen Alım Geçilsin'"
                    v-model="hag"
                    color="blue darken-5"
            ></v-switch>
            <v-switch
                    class="eoy"
                    :label="'Eczaneye Özel Yayınla'"
                    v-model="eoy"
                    color="blue darken-5"
            ></v-switch>
            <v-select
                    class="eczane"
                    v-if="eoy"
                    v-model="selectedEczane"
                    :items="getPharmacies"
                    label="Eczane"
                    item-text="name"
                    item-value="name"
                    color="blue darken-5"
            ></v-select>
            <!--<v-textarea
                    class="baslangic"
                    name="input-7-1"
                    label="Açıklama"
                    color="blue darken-5"
            ></v-textarea>-->

            <v-btn  @click="calculateNetPrice()" class="netPrice" block style="color: white;" round color="blue darken-5">NET FİYAT</v-btn>

            <v-btn :disabled="!valid"
                   @click="submit" class="yayinla" block style="color: white;" round color="green darken-5">YAYINLA</v-btn>

            <v-dialog v-model="netFiyatHesapla" max-width="500px">
                <v-card style="padding: 20px;font-size: 20px">
                        {{netFiyat}}
                </v-card>
            </v-dialog>
        </v-form>
    </div>
</template>
<script>
    const apiEndpoint = "https://ilactakasbackend.herokuapp.com"
    import axios from 'axios'
    import { mapActions, mapGetters } from 'vuex'

    export default {
        data: () => ({

             ilaclar:[],
            descriptionLimit: 60,
            entries: [],
            ilacBarcodu:'',
            alimMiktari:null,
            etiketFiyati:null,
            selectedEczane:null,
            valid: false,
            depoFiyati:null,
            eczaneWarning: false,
            minimumAlim:null,
            hedeflenenAlim:null,
            maxAlim:null,
            malFazlasi:null,
            isLoading: false,
            model: null,
            search: null,
            baslangic: null,
            bitis: null,
            baslangicMenu: false,
            bitisMenu: false,
            sonkullanmaTarihiMenu: false,
            sonkullanmaTarihi:null,
            hag: false,
            eoy: false,
            netFiyatHesapla: false,
            netFiyat:null,
            alert: false,
            yemekCekiEldenNakit: 0,
            ekstraUrun: 0,
            barcodeRules: [
                v => !!v || 'Lütfen ürün seçin'
            ],
            alimMikratiRules: [
                v => !!v || 'Lütfen alim miktari girin'
            ],
            malFazlasiRules: [
                v => !!v || 'Lütfen mal fazlası miktari girin'
            ],
            minimumRules: [
                v => !!v || 'Lütfen minimum alınabilecek miktari girin'
            ],
            maksimumRules: [
                v => !!v || 'Lütfen maximum alınabilecek miktari girin'
            ],
            baslangicRules: [
                v => !!v || 'Lütfen teklif başlangıç tarihi girin'
            ],
            bitisRules: [
                v => !!v || 'Lütfen teklif bitiş tarihi girin'
            ],
            hedeflenenAlimRules: [
            v => !!v || 'Lütfen hedeflenen alim miktari girin'
            ],
            sonKullanmaRules: [
            v => !!v || 'Lütfen son kullanma tarihi girin'
            ],
            etiketFiyatiRules: [
                v => !!v || 'Lütfen etiket fiyatı girin'
            ],
            depoFiyatiRules: [
                v => !!v || 'Lütfen depo fiyatı girin'
            ]
        }),

        computed: {
            fields () {
                if (!this.model) return []

                return Object.keys(this.model).map(key => {
                    return {
                        key: key,
                        value: this.model[key] || 'n/a'
                    }
                })
            },
            ...mapGetters([
                'getPharmacies',
                'getUser'
            ])
        },

        watch: {
            search (val) {



                if(val.length > 3 && val.length < 10 ){
                    this.isLoading = true

                    // Lazily load input items
                    axios.post(apiEndpoint+'/getIlac',{
                        searchParam: val.toUpperCase()
                    })
                        .then(res => {
                            res.data.ilaclar.map(element=>{
                                this.ilaclar.push(element["ILAC ADI"])
                            })
                        })
                        .catch(err => {
                            console.log(err)
                        })
                        .finally(() => (this.isLoading = false))
                    }else{
                    this.isLoading = false
                }
                },

            eoy() {
                if(this.eoy){
                    this.getPharmaciesAction()
                }
            }


        },
        methods: {

            submit() {

                if (this.$refs.form.validate()) {
                    if(this.eoy === true){
                        if(this.selectedEczane === null){
                            let alertConfig = {
                                text: 'LÜTFEN ECZANE SEÇİNİZ.',
                                type: 'error'
                            }
                            this.invokeAlert(alertConfig)
                        }else if( this.minAlim > this.maxAlim){
                            let alertConfig = {
                                text: 'MAX ALIM, MİN ALIMDAN BÜYÜK OLAMAZ.',
                                type: 'error'
                            }
                            this.invokeAlert(alertConfig)
                        }else if( this.talepBasTar > this.talepBitTar){
                            let bitis = new Date(this.bitis)
                            let baslangic = new Date(this.baslangic)
                            if( bitis < baslangic){
                                let alertConfig = {
                                    text: 'TALEP BAŞLANGIÇ TARİHİ, BİTİŞTEN BÜYÜK OLAMAZ.',
                                    type: 'error'
                                }
                                this.invokeAlert(alertConfig)
                            }
                        }else if(this.etiketFiy < this.depoFiy){
                            let alertConfig = {
                                text: 'ETİKET FİYATI, DEPO FİYATINDAN BÜYÜK OLAMAZ.',
                                type: 'error'
                            }
                            this.invokeAlert(alertConfig)
                        }
                        else{
                            this.calculateNetPrice()

                            let bid = {
                                barcodeNo: this.ilacBarcodu,
                                alimMiktari: this.alimMiktari,
                                alimVeGonderimBilgileri:[],
                                malFazlasi: this.malFazlasi,
                                minAlim: this.minimumAlim,
                                maxAlim: this.maxAlim,
                                talepBasTar: this.baslangic,
                                talepBitTar: this.bitis,
                                hedeflenenAlim: this.hedeflenenAlim,
                                sonKulTar: this.sonkullanmaTarihi,
                                etiketFiy: this.etiketFiyati,
                                depoFiy: this.depoFiyati,
                                hedefAlimGecilsin: this.hag,
                                eczaneyeOzel: this.eoy,
                                eczane: this.selectedEczane,
                                createdById: this.getUser._id,
                                createdBy: this.getUser.name,
                                netFiyat: this.netFiyat,
                                alinan: 0
                            }
                            this.createBidAction(bid)
                        }
                    }else{
                        this.calculateNetPrice()

                        let bid = {
                            barcodeNo: this.ilacBarcodu,
                            alimMiktari: this.alimMiktari,
                            malFazlasi: this.malFazlasi,
                            minAlim: this.minimumAlim,
                            alimVeGonderimBilgileri:[],
                            maxAlim: this.maxAlim,
                            talepBasTar: this.baslangic,
                            talepBitTar: this.bitis,
                            hedeflenenAlim: this.hedeflenenAlim,
                            sonKulTar: this.sonkullanmaTarihi,
                            etiketFiy: this.etiketFiyati,
                            depoFiy: this.depoFiyati,
                            hedefAlimGecilsin: this.hag,
                            eczaneyeOzel: this.eoy,
                            eczane: this.selectedEczane,
                            createdById: this.getUser._id,
                            createdBy: this.getUser.name,
                            netFiyat: this.netFiyat,
                            alinan: 0
                        }
                        this.createBidAction(bid)
                    }
                }

            },
        ...mapActions([
            'createBidAction',
            'getBids',
            'getPharmaciesAction',
            'invokeAlert'
            ]),
            calculateNetPrice(){

                this.netFiyatHesapla = true;

                let temp;
                let temp2;
                let temp3 = 0;
                if(this.yemekCekiEldenNakit !== 0 && this.yemekCekiEldenNakit !== "") {
                    temp3 += parseFloat(this.yemekCekiEldenNakit) / parseFloat(this.depoFiyati)
                }
                if(this.ekstraUrun !== 0 && this.ekstraUrun !== ""){
                    let temp4 = parseFloat(this.ekstraUrun) * parseFloat(this.etiketFiyati)
                    temp3 += temp4 / parseFloat(this.depoFiyati)
                }

                let returnValue=0.0;

                if(this.malFazlasi !== null && this.alimMiktari !== null){
                    temp = parseFloat(this.malFazlasi + temp3) + parseFloat(this.alimMiktari)
                }


                temp2 = (parseFloat(this.depoFiyati) / temp ) * parseFloat(this.alimMiktari)
                if(isNaN(temp2)){
                    returnValue = "Lütfen alim miktari, mal fazlası ve depo fiyatlarını eksiksiz doldurun."
                }else{
                    returnValue = temp2.toFixed(2)
                }
                this.netFiyat = returnValue;

            }
        }
    }
</script>
<style lang="scss" scoped>
    .grid{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 20px;
    }
    .autocomplete{
        grid-column: 1/5;
    }
    .baslangic{
        grid-column: 1/3;
    }
    .bitis{
        grid-column: 3/5;

    }
    .eczane{
        grid-column: 4/5;

    }
    .eoy{
        grid-column: 3/4;

    }
    .netPrice{
        grid-column: 1/3;
    }
    .yayinla{
        grid-column: 3/5;
    }
</style>