<template>
    <div>
        <div class="gonderilecekler">
            <div class="gonderilecekler-title">GÖNDERİLMEYİ BEKLEYENLER</div>
            <div class="alan-eczaneler-header">
                <div>
                    İLAÇ ADI
                </div>
                <div>
                    ALIM MİKTARI
                </div>
                <div>
                    ALAN ECZANE
                </div>
                <div>
                    NET FİYAT ₺
                </div>
                <div>
                    GÖNDERİLME DURUMU
                </div>
                <div>
                    İŞLEMLER
                </div>
            </div>
            <template v-for="gonderilecek in karekodBekleyenler">
                <div class="alan-eczaneler-content backgroundRed">
                    <div>
                        {{gonderilecek.teklifBilgileri.barcodeNo.slice(0, 40)}}
                    </div>
                    <div>
                        {{gonderilecek.alimVeGonderimBilgileri.miktar}}
                    </div>
                    <div>
                        {{gonderilecek.alimVeGonderimBilgileri.alanAdi }}
                    </div>
                    <div>
                        {{gonderilecek.teklifBilgileri.netFiyat}}
                    </div>
                    <div>
                        {{getGondermeDurumu(gonderilecek.alimVeGonderimBilgileri)}}
                    </div>
                    <div>

                        <v-icon
                                small
                                class="mr-2"
                                @click="karekodPopupAc(gonderilecek)"
                        >border_clear
                        </v-icon>
                        <v-icon v-if="gonderilecek.alimVeGonderimBilgileri.karekodGirildimi"
                                small
                                @click="gonderPopupAc(gonderilecek)">send

                        </v-icon>
                    </div>
                </div>
            </template>
        </div>
        <div class="gonderilenler">
            <div class="gonderilenler-title">GÖNDERİLENLER</div>
            <div class="alan-eczaneler-header">
                <div>
                    İLAÇ ADI
                </div>
                <div>
                    ALIM MİKTARI
                </div>
                <div>
                    ALAN ECZANE
                </div>
                <div>
                    NET FİYAT ₺
                </div>
                <div>
                    GÖNDERİLME DURUMU
                </div>
                <div>
                    İŞLEMLER
                </div>
            </div>
            <template v-for="hazirOlan in gonderilmeyeHazirOlanlar">
                <div class="alan-eczaneler-content backgroundYellow"  :class="{ backgroundYellow: hazirOlan.alimVeGonderimBilgileri.gonderildi, backgroundGreen: hazirOlan.alimVeGonderimBilgileri.teslimAlindi }">
                    <div>
                        {{hazirOlan.teklifBilgileri.barcodeNo.slice(0, 40)}}
                    </div>
                    <div>
                        {{hazirOlan.alimVeGonderimBilgileri.miktar}}
                    </div>
                    <div>
                        {{hazirOlan.alimVeGonderimBilgileri.alanAdi }}
                    </div>
                    <div>
                        {{hazirOlan.teklifBilgileri.netFiyat}}
                    </div>
                    <div>
                        {{getGondermeDurumu(hazirOlan.alimVeGonderimBilgileri)}}
                    </div>
                    <div>
                        <!--<v-icon
                                small
                                class="mr-2"
                                @click="gonder()"
                        >done
                        </v-icon>-->
                        <!--<v-icon
                                small
                                class="mr-2"
                                @click="karekodPopupAc(hazirOlan)"
                        >
                        </v-icon>-->
                    </div>
                </div>
            </template>
        </div>
        <v-dialog v-model="gonderDialog" max-width="500px">
            <v-card style="    padding: 20px;">
                <div style="text-align: center;padding: 5px 0 5px 0;font-size: 14px">
                    BAKİYENİZE EKLECEK TUTAR {{ eklenecekBakiye }} ₺ ,
                    GÖNDERMEYE EMİN MİSİNİZ ?
                </div>
                <v-btn @click="gonder(selectedGonderimDetails)" outline color="blue">GÖNDER</v-btn>
            </v-card>
        </v-dialog>
        <v-dialog v-model="karekodDialog" max-width="500px">
            <v-card style="    padding: 20px;">
                <div style="text-align: left;padding: 5px 0 5px 0;font-size: 14px">
                    {{selectedGonderimDetails.alimVeGonderimBilgileri.miktar}} adet karekod girmelisiniz.
                </div>
                <v-textarea
                        outline
                        label="Karekod Bilgileri"
                        v-model="girilenKarekodlar"
                        color="blue"
                ></v-textarea>
                <v-btn @click="karekodlariKaydet()" outline color="blue">Kaydet</v-btn>
            </v-card>
        </v-dialog>
        <v-snackbar
                v-model="snackbarAdetKodGiriniz"
                :timeout=3000
        >
            LÜTFEN {{selectedGonderimDetails.alimVeGonderimBilgileri.miktar}} ADET KAREKOD GİRİNİZ.

        </v-snackbar>
        <v-snackbar
                v-model="snackbarBasariylaGonderildi"
                :timeout=3000
        >
            TALEP GÖNDERİLDİ

        </v-snackbar>
        <v-snackbar
                v-model="snackbarBasarisiz"
                :timeout=3000
        >
            İŞLEM BAŞARISIZ :(

        </v-snackbar>
        <v-snackbar
                v-model="snackbarKarekodBasariylaGonderildi"
                :timeout=3000
        >
            KAREKODLAR KAYDEDİLDİ

        </v-snackbar>
    </div>
</template>
<script>
    import {mapActions, mapState, mapGetters} from 'vuex'

    export default {
        data: () => ({
            gonderDialog: false,
            karekodDialog: false,
            snackbarAdetKodGiriniz: false,
            snackbarBasariylaGonderildi: false,
            snackbarKarekodBasariylaGonderildi: false,
            snackbarBasarisiz: false,
            eklenecekBakiye: 0,
            selectedGonderimDetails: {
                alimVeGonderimBilgileri: {}
            },
            girilenKarekodlar: ''
        }),
        methods: {
            ...mapActions([
                'getGonderimlerim',
                'setKarekods',
                'gonder'
            ]),
            gonder() {

                let sendData = {
                    gonderenId: this.selectedGonderimDetails.alimVeGonderimBilgileri.gonderenId,
                    id: this.selectedGonderimDetails.alimVeGonderimBilgileri.id,
                }
                this.$store.dispatch('gonder', sendData)
                    .then(response => {
                        let bakiyeData = {
                            gln: this.user.gln,
                            eklenecekBakiye: this.eklenecekBakiye,
                            alanId: this.selectedGonderimDetails.alimVeGonderimBilgileri.eczane

                        }
                        this.$store.dispatch('setBakiye', bakiyeData)
                            .then( response => {
                                this.gonderDialog = false
                                this.snackbarBasariylaGonderildi = true
                            })

                    })
                    .catch(err => {
                        this.snackbarBasarisiz = true
                    })
            },
            karekodPopupAc(secilenGonderim) {
                this.selectedGonderimDetails = secilenGonderim
                if (this.selectedGonderimDetails.alimVeGonderimBilgileri.karekodBilgileri.length > 0) {
                    this.girilenKarekodlar = this.selectedGonderimDetails.alimVeGonderimBilgileri.karekodBilgileri.reduce((acculumator, currentValue) => {
                        acculumator += currentValue + '\n'
                        return acculumator
                    }, '')
                    this.girilenKarekodlar = this.girilenKarekodlar.slice(0, this.girilenKarekodlar.length - 1)
                }
                this.karekodDialog = true;
            },
            gonderPopupAc(secilenGonderim) {
                this.selectedGonderimDetails = secilenGonderim
                this.gonderDialog = true
                this.eklenecekBakiye = this.selectedGonderimDetails.alimVeGonderimBilgileri.miktar*this.selectedGonderimDetails.teklifBilgileri.netFiyat
            },
            karekodlariKaydet() {
                let karekodlar = this.girilenKarekodlar.split("\n")
                let sendData = {
                    karekodlar: karekodlar,
                    gonderenId: this.selectedGonderimDetails.alimVeGonderimBilgileri.gonderenId,
                    id: this.selectedGonderimDetails.alimVeGonderimBilgileri.id
                }
                if (karekodlar.length !== parseInt(this.selectedGonderimDetails.alimVeGonderimBilgileri.miktar)) {
                    this.snackbarAdetKodGiriniz = true;
                } else {
                    this.$store.dispatch('setKarekods', sendData)
                        .then(response => {
                            this.snackbarKarekodBasariylaGonderildi = true
                            this.karekodDialog = false
                        })
                        .catch(err => {
                            this.snackbarBasarisiz = true
                        })
                }
            },
            getGondermeDurumu(alimVeGonderimBilgisi) {
                if (alimVeGonderimBilgisi.teslimAlindi)
                    return 'Teslim Alindi'
                else if (alimVeGonderimBilgisi.gonderildi)
                    return 'Gönderildi'
                else {
                    return 'Bekliyor'
                }
            }
        },
        created() {
            let data = {
                id: this.user._id
            }
            this.getGonderimlerim(data)
        },
        computed: {
            ...mapState({
                user: state => state.user,
                karekodBekleyenler: state => state.karekodBekleyenler,
                gonderilmeyeHazirOlanlar: state => state.gonderilmeyeHazirOlanlar
            })
        }

    }
</script>
<style scoped lang="scss">

    .alan-eczaneler-header {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        border-bottom: 1px solid #0006;
    }

    .alan-eczaneler-content {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        border-bottom: 1px solid #0006;
        padding: 5px 0 5px 0;
        font-size: 13px;
        align-items: center;

    }

    .alan-eczaneler-content:hover {
        background-color: lightgray;
        transition: background-color .2s;
        align-items: center;
    }

    .alan-eczaneler-detail-header {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .alan-eczaneler-detail-content {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: center;
    }

    .gonderilecekler-title {
        font-size: 16px;
        margin: 30px 0 20px 0;
        text-align: left;
        font-weight: 700;
        border-bottom: 1px solid;
        color: #0009;
    }

    .gonderilenler-title {
        font-size: 16px;
        margin: 30px 0 20px 0;
        text-align: left;
        font-weight: 700;
        border-bottom: 1px solid;
        color: #0009;
    }
</style>
