<template>
    <div class="grid">
        <v-form  class="formDiv" ref="form" v-model="valid" lazy-validation>
            <v-text-field
                    v-model="email"
                    :rules="emailRules"
                    label="E-posta"
                    required
                    color="blue darken-5"
            ></v-text-field>
            <v-text-field
                    v-model="password"
                    :rules="passwordRules"
                    type="password"
                    label="Parola"
                    required
                    color="blue darken-5"
            ></v-text-field>

            <v-btn
                    outline
                    color="blue darken-5"
                    :disabled="!valid"
                    @click="submit"
            >
                GİRİŞ YAP
            </v-btn>
            <v-btn
                    outline
                    color="blue darken-5"
                    @click="toSignUpPage()"
            >
                KAYIT OL
            </v-btn>
        </v-form>
    </div>
</template>
<script>
    import { mapActions } from 'vuex'
    export default {
        data() {
            return {

                email: '',
                emailRules: [
                    v => !!v || 'E-posta giriniz',
                    v => /.+@.+/.test(v) || 'Hatalı E-posta'
                ],
                password: '',
                passwordRules: [
                    v => !!v || 'Parola giriniz',
                ],
                valid: true
            }
        },
        methods: {
            toSignUpPage(){
                this.$router.push('signUp')
            },
            submit(){

                if (this.$refs.form.validate()) {

                    let eczane = {
                        email: this.email,
                        password: this.password,
                    }
                    this.login(eczane)
                }
            },
        ...mapActions([
            'login'
            ])

        }
    }
</script>
<style lang="scss" scoped>
    .grid{
        display: grid;
        margin-top: 100px;
        grid-template-columns: minmax(50px,min-content) 1fr minmax(50px,min-content);
    }
    .formDiv{
        grid-column: 2/3;
    }
</style>