<template>
    <div class="grid">
        <v-form  class="formDiv" ref="form" v-model="valid" lazy-validation>
            <div class="login">

            </div>
            <v-text-field
                    v-model="gln"
                    :rules="glnRules"
                    :counter="10"
                    label="GLN No"
                    required
                    color="blue darken-5"
            ></v-text-field>
            <v-text-field
                    v-model="name"
                    :rules="nameRules"
                    :counter="10"
                    label="Eczane Adı"
                    required
                    color="blue darken-5"
            ></v-text-field>
            <v-text-field
                    v-model="email"
                    :rules="emailRules"
                    :counter="10"
                    label="E-posta"
                    required
                    color="blue darken-5"
            ></v-text-field>
            <v-text-field
                    v-model="password"
                    :rules="passwordRules"
                    label="Parola"
                    :counter="10"
                    required
                    type="password"
                    color="blue darken-5"
            ></v-text-field>
            <v-text-field
                    v-model="passwordTwo"
                    :rules="passwordTwoRules"
                    label="Parola Tekrar"
                    type="password"
                    :counter="10"
                    required
                    color="blue darken-5"
            ></v-text-field>
            <v-select
                    v-model="select"
                    :items="groups"
                    item-text="name"
                    color="blue darken-5"
                    item-value="_id"
                    :rules="[v => !!v || 'Grup adı seçiniz']"
                    label="Eczane Grubu"
                    required
            ></v-select>
            <v-btn
                    :disabled="!valid"
                    @click="submit"
            >
                KAYIT OL
            </v-btn>
        </v-form>
    </div>
</template>
<script>
    const apiEndpoint = "https://ilactakasbackend.herokuapp.com"
    import axios from 'axios'
    import { mapState, mapActions } from 'vuex'
    export default {
        data() {
            return {

                email: '',
                emailRules: [
                    v => !!v || 'E-posta giriniz',
                    v => /.+@.+/.test(v) || 'Hatalı E-posta'
                ],
                password: '',
                passwordRules: [
                    v => !!v || 'Parola giriniz',
                ],
                gln: '',
                glnRules: [
                    v => !!v || 'GLN giriniz',
                ],
                passwordTwo: '',
                passwordTwoRules: [
                    v => !!v || 'Parola Tekrar Giriniz',
                ],
                name: '',
                nameRules: [
                    v => !!v || 'Eczane Adı Giriniz'
                ],
                valid: true,
                select: null,
                groups: [

                ],
            }
        },
        methods: {
            submit(){

                    let eczane = {
                        name: this.name,
                        gln: this.gln,
                        email: this.email,
                        password: this.password,
                        passwordTwo: this.passwordTwo,
                        group_id: this.select,
                        bakiye: 0,
                        actigiTeklifSayisi: 0
                    }
                    this.signUp(eczane)
            },
            ...mapActions(['signUp'])
        },
        created() {
            axios.get(apiEndpoint+'/getGroups')
                .then( response => {
                    this.groups = response.data.groups
                })
        }
    }
</script>
<style lang="scss" scoped>
    .grid{
        display: grid;
        margin-top: 100px;
        grid-template-columns: minmax(50px,min-content) 1fr minmax(50px,min-content);
    }
    .formDiv{
        grid-column: 2/3;
    }
</style>