<template>
    <v-app>
        <div  @mouseenter="mini = false" @mouseleave="mini = true">

        <v-navigation-drawer
                app
                :mini-variant.sync="mini"
                mini-variant-width="50"
                v-model="drawer"
                stateless
        >
            <v-toolbar flat class="transparent">
                <v-list class="pa-0">

                </v-list>
            </v-toolbar>

            <v-list class="pt-0" dense v-if="isAuth"
            >
                <v-list-tile
                        v-for="item in items"
                        :key="item.routeUrl"
                        @click="changePage(item.routeUrl)"
                >
                        <v-list-tile-action                         style="justify-content: inherit !important;"
                        >
                            <v-icon>{{ item.icon }}</v-icon>
                        </v-list-tile-action>

                        <v-list-tile-content>
                            <v-list-tile-title>{{ item.title }}</v-list-tile-title>
                        </v-list-tile-content>

                </v-list-tile>
            </v-list>
            <v-list class="pt-0" dense v-else>
                <v-list-tile
                        @click="changePage('giris')">
                    <v-list-tile-action style="justify-content: inherit !important">
                        <v-icon>fas fa-sign-in-alt</v-icon>
                    </v-list-tile-action>

                    <v-list-tile-content>
                        <v-list-tile-title>GİRİŞ YAP</v-list-tile-title>
                    </v-list-tile-content>
                </v-list-tile>
            </v-list>
        </v-navigation-drawer>
        </div>

        <div style="display: grid;grid-template-columns: 1fr 1fr 1fr;margin-top: 10px;border-bottom: 1px solid darkgray;padding-bottom: 10px;">
            <v-btn small style="z-index: 10;width: 35px;height: 35px;" @click="mini = !mini" outline fab color="blue">
                <v-icon  v-if="mini===true"small >keyboard_arrow_right</v-icon>
                <v-icon v-else small >keyboard_arrow_left</v-icon>
            </v-btn>
            <div style="display: flex;align-items: center;flex-wrap: nowrap;justify-content: center;">
                <img src="../assets/yilan.png" style="width: 30px;">
                <span style="font-size: 30px;margin-left: 20px;margin-top: 10px;white-space: nowrap;font-weight: 500;font-variant-caps: small-caps;">İlaç Takas</span>
            </div>

            <v-toolbar-items class="hidden-sm-and-down" style="justify-self: end;margin-right: 10px">
                <!--<v-badge left style="align-self: center" color="red">
                    <span slot="badge">2</span>
                    <v-icon large color="grey">mail</v-icon>
                </v-badge>-->
                <span v-if="isAuth">HOŞGELDİN,  {{ user.name.toUpperCase() }} ECZANESİ</span>
            </v-toolbar-items>
        </div>
        <v-content app>
            <v-container fluid>
                <router-view></router-view>
            </v-container>
        </v-content>
        <v-footer app></v-footer>
    </v-app>
</template>
<script>
    import { mapState, mapActions } from 'vuex'
    export default {
        data () {
            return {
                drawer: true,
                items: [
                    { title: 'Alım Talebi Oluştur', icon: 'add', routeUrl: '/createBid' },
                    { title: 'Alım Talepleri', icon: 'list', routeUrl: '/bids'},
                    { title: 'Aldıklarım', icon: 'local_grocery_store', routeUrl: '/aldiklarim'},
                    { title: 'Gönderilerim', icon: 'swap_horiz', routeUrl: '/gonderimlerim'},
                    { title: 'Bakiyeler', icon: 'swap_vert', routeUrl: '/bakiyeler'},
                    { title: 'Çıkış Yap', icon: 'fas fa-sign-out-alt', routeUrl: '/cikis'},
                ],
                mini: true,
                right: null,
            }
        },
        methods: {
            changePage(routeUrl) {

                if(routeUrl === '/cikis'){
                    this.logout()
                }
                else if( routeUrl === 'giris'){
                    this.$router.push('/')
                }
                else{
                    this.$router.push(routeUrl)
                }
            },
            ...mapActions([
                'logout'
            ])
        },
        computed: {
            ...mapState({
                isAuth: state => state.isAuth,
                user: state => state.user
            })
        }
    }
</script>
<style scoped>
    .container{
        padding: 0 24px 0 24px
    }
</style>
