<template>
  <div id="app">
    <v-alert
            class="alert"
            :value="getAlert.state"
            :type="getAlert.type"
            transition="slide-y-transition"
    >{{ getAlert.text }}</v-alert>
    <app-header></app-header>

  </div>
</template>
<script>
  import Header from './components/Header.vue'
  import { mapActions, mapGetters, mapState } from 'vuex'
  export default {
      data() {
          return {

          }
      },
      components: {
          'app-header': Header
      },
      methods: {
          ...mapActions([
              'getBids',
              'checkAuth'
          ])
      },
      computed: {
          ...mapGetters([
              'getAlert',
          ]),
          ...mapState({
              user: state => state.user
          })
      },
      created() {

          this.checkAuth()
          this.getBids()
      }
  }
</script>

<style lang="scss">
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
#nav {
  padding: 30px;
  a {
    font-weight: bold;
    color: #2c3e50;
    &.router-link-exact-active {
      color: #42b983;
    }
  }
}
  .alert{
    position: fixed;
    z-index: 99;
    width: 100%;
  }
  .backgroundRed{
    background-color: #ff00004d
  }
  .backgroundYellow{
    background-color:#feff1666;
  }
  .backgroundGreen{
    background-color: rgba(41, 255, 28, 0.67)
  }
</style>
